{% extends 'base.html.twig' %}

{% block title %}Ajouter livre{% endblock %}

{% block body %}
<div class="d-flex justify-content-center mb-5">
    <h2>Ajouter un nouveau livre</h2>
  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-light border-dark" href="{{ path('book_index') }}">Retour</a>
  </div>
  <div class="d-flex justify-content-center">
    {{ include('book/_form.html.twig') }}
  </div>
{% endblock %}
