{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <section class="text-center">
        <h2>Librairie</h2>
        <div class="btn-group">
            <a class="btn btn-danger" href="{{ path('Administrator_index') }}">Voir les membres</a>
            <a class="btn btn-warning" href="{{ path('book_index') }}">Voir les livres</a>
        </div>
    </section>
{% endblock %}
